.update-playlist{
    margin-top: 50px;
    color: white;
}

.playlist-title {
    background-color: #909090cc;
    color: #fff;
    margin-left: 10px;
}

.title-label {
    margin-left: 20px;
}

.tags {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    border: #00ffff solid 2px;
    border-radius: 8px;
    padding-top: 10px;
    height: 125px;
    width: 325px;
}

.update-submit-btn {
    background: linear-gradient(99deg, #00F8F8 6.84%, #009292 83.28%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: white;
    margin-left: 15px;
}

.tag-label {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}