
.AudioPlayer{
    /* Rectangle 39 */
  
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: -10px;
  
    background: #252525;
  }
  .AudioPlayer .pauseButton{
    /* Button */
    position: absolute;
    left: 940px;
    top: 15px;
  
    /* Auto layout */
    padding: 14px 24px;
  
    width: 46px;
    height: 44px;
  
    border-radius: 8px;
  }
  .AudioPlayer .playButton{
    /* Button */
    position: absolute;
    left: 940px;
    top: 15px;
  
    /* Auto layout */
    padding: 14px 24px;
  
    width: 46px;
    height: 44px;
  
    border-radius: 8px;
  }
  .playButton .play{
    /* ▶ */
    position: relative;
    top: -30px;
    left: -10px;
  
    width: 19px;
    height: 30px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
  }
  .pauseButton .pause{
    /* ■ */
    position: relative;
    top: -30px;
    left: -10px;
  
    width: 19px;
    height: 30px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
  }
  .AudioPlayer .playerImage{
    /* Rectangle 40 */

    position: absolute;
    width: 45px;
    height: 45px;

    top: 15px;
    left: 30px;

    background: #D9D9D9;

  }
  .AudioPlayer .songTitle{
    /* 곡 제목 */

    position: absolute;
    width: 100px;
    height: 24px;
    left: 100px;
    top: 15px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #FFFFFF;

    text-decoration-line: none;

  }
  .AudioPlayer .singers{
    /* 가수 */

    position: absolute;
    width: 200px;
    height: 20px;
    left: 100px;
    top: 30px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 20px */
    display: flex;
    gap: 2px;
    
    color: #FFFFFF;

    display: flex;
  }
  .AudioPlayer .progress-container{
    /* margin: 5px 0; */
    background-color: #363636;
    width: 100%;
    /* border-radius: 5px; */
    cursor: pointer;
    height: 5px;
  }
  .AudioPlayer .progress{
    background-color: aqua;
    height: 5px;
    width: 0%;
    border-radius: 5px;
    transition: width 0.1s linear;
  }
  .AudioPlayer .time{

    position: absolute;
    width: 100px;
    height: 20px;
    left: 1500px;
    top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 20px */
    display: flex;
    gap: 10px;

    color: #FFFFFF;

  }
  .AudioPlayer .musicListButton{
    position: absolute;
    left: 1800px;
    top: 20px;
    height: 50px;
  }
  .AudioPlayer .musicList{
    background-color: black;
    height: 1000px;
    width: 1440px;
    position: absolute;
  }
  .AudioPlayer .prevButton{
    position: relative;
    left: 890px;
    top: 13px;
    height: 40px;
    font-size: 25px;
    background-color:#252525;
    border-style: none;
  }
  .AudioPlayer .nextButton{
    position: relative;
    left: 950px;
    top: 13px;
    font-size: 25px;
    border-style: none;
    background-color: #252525;
  }