.musiclist{
    position: fixed; /* 화면을 기준으로 위치 설정 */
    top: 0;
    left: 0;
    width: 100%; /* 화면 너비 전체를 차지 */
    bottom: 80px;
    background-color: rgba(0, 0, 0, 0.8); /* 투명한 검은 배경 */
    z-index: 1000; /* 다른 요소들보다 위에 표시 */
    display: none; /* 기본적으로 숨김 */
}

.musiclist.visible{
    display: block;
}
.musiclist.visible .coverSection{
    height: 856px;
    width: 1200px;
}
.coverSection .musicImage{
    position: relative;
    width: 500px;
    height: 500px;
    top: 180px;
    left: 250px;
}
.playlistSection{
    position: absolute;
    height: 856px;
    width: 500px;
    top: 0;
    left: 1200px;
    overflow: auto;
    overflow-x: hidden;
}
.playlistSection .musicListUl{
    /* 재생 목록 */
    position: relative;
    display: flex;
    flex-direction: column;
    height: 850px;
    top: 50px;
}

/* 스크롤 바 기능은 유지하되 없애기 */
.playlistSection{
    -ms-overflow-style: none;
}
.playlistSection::-webkit-scrollbar{
    display: none;
}

.playlistSection li{
    position: relative;
    height: 80px;
}
.playlistSection li img{
    /* 앨범 이미지 */
    position: relative;
    height: 50px;
    top: 10px;
    left: 15px;
}
.playlistSection li strong{
    /* 곡 제목 */
    position: relative;
    color: white;
    top: -20px;
    left: 30px;
}
.playlistSection li em{
    /* 가수 */
    position: relative;
    display: flex;
    color: #999999;
    width: 300px;
    left: 90px;
    top: -30px;
    font-style: normal;
}
.playlistSection li span div{
    /* 재생 시간 */
    color: #999999;
    position: relative;
    left: 350px;
    top: -75px;
}
.playlistSection li div div{
    color: #999999;
    position: relative;
    left: 350px;
    top: -75px;
}
.playlistSection li div{
    /* 플레이 목록에 있는 곡 */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}
.playlistSection li span{
    /* 현재 재생 중인 곡 */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgb(153, 153, 153, 0.3);
}
.playlistSection .text{
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}