.playlist-detail {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.detail-playlist-item {
    display: flex;
    align-items: center;
}

.detail-playlist-item img {
    height: 200px;
    width: 200px;
}

.detail-playlist-item p {
    padding-left: 10px;
}

.update-btn {
    margin-left: 10px;
    background: linear-gradient(99deg, #00F8F8 6.84%, #009292 83.28%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: white;
}

.playlist-detail .track-detail .track-item img {
    height: 100px;
    width: 100px;
}

.playlist-detail .track-detail p {
    padding-left: 10px;
}