.latestAlbum-container {
    padding: 20px;
  }
  
  .title {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
  }
  
  .albums-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 한 줄에 6개의 아이템을 배치 */
    gap: 20px;
  }
  
  .album-item {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .album-cover {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .album-title {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .album-artist {
    color: #aaa;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 5px;
  }
  