
/* src/Footer.css */
.footer {
    background-color: #171212;
    color: white;
    padding: 20px;
    padding-left: 50px;
    margin: -10px;
   
    margin-bottom: 80px;

  }
  
  .footer span {
    padding: 10px;
    margin-right: 30px;
  }
  
  .footer a {
    color: white;
  }
  
  .footer-bottom {
    padding-bottom: 15px;
  }