.main-container {
  display: flex;
  flex-direction: row;
  /* 가로 방향으로 배치 */
  background-color: black;
  margin: -10px
}

.main-content {
  flex: 1;
  background-color: black;
}

.navigator {
  flex: 0 0 auto;
}
